<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('404')"></head>
<body>
<nav th:replace="partials :: nav"></nav>
<nav th:replace="partials :: jumbotron('500 internal server error')"></nav>

<main class="container">
    <h1>Internal server error</h1>
    <p>Watch a video instead</p>
    <iframe
            width="420"
            height="315"
            src="https://www.youtube.com/embed/NN75im_us4k?autoplay=1"
            frameborder="0"
            allowfullscreen="allowfullscreen"
    >
    </iframe>
</main>

<footer th:replace="partials :: footer"></footer>
<th:block th:include="partials :: script"></th:block>
</body>
</html>