<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head"></head>
<body>
<nav th:replace="partials :: nav"></nav>

<div class="container mt-5 pt-5">
    <div>Dices has been rolled. Make a guess of the result: </div>
    <a href="/roll-dice/1">1</a>
    <a href="/roll-dice/2">2</a>
    <a href="/roll-dice/3">3</a>
    <a href="/roll-dice/4">4</a>
    <a href="/roll-dice/5">5</a>
    <a href="/roll-dice/6">6</a>
</div>

<footer th:replace="partials :: footer"></footer>
</body>
</html>